// Define variables for your color scheme

// For example:
$red: #db5553;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$lilac: rgba(211, 196, 255, 1);


$rd-text-color: #3c4651; // #303841;

$rd-background-color: #EEEEEE;

$rd-info-color: #c5afff; // #f2ac3c;
$rd-warning-color: #f2ac3c; // #ed6840;
$rd-danger-color: #ed6840; // #db5553;
$rd-success-color: #4baf7d;


$rd-brand-color-light: #4cafb2;
$rd-brand-color-dark: #007d82;

