@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,700,700i');

@font-face {
    font-family: 'CenturyGothic';
    src: url('config/fonts/CenturyGothic.ttf') format('truetype');
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('config/fonts/GOTHICB.TTF') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('config/fonts/GOTHICI.TTF') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('config/fonts/GOTHICBI.TTF') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'RumbleBrave';
    src: url('config/fonts/RumbleBrave.otf') format('opentype');
}

@font-face {
    font-family: 'Stefan';
    src: url('config/fonts/Stefan.otf') format('opentype');
}

@font-face {
    font-family: 'AmadeustInline';
    src: url('config/fonts/AmadeustInline.otf') format('opentype');
}

@font-face {
    font-family: 'Jessica-Bold';
    src: url('config/fonts/Jessica-Bold.ttf') format('truetype');
}

// Define fonts for body and headers
$headers-font: "Jessica-Bold", "cursive";
$body-font: "Raleway", "CenturyGothic", "sans-serif";






