.index-recipe-container {
  position: relative;
  overflow: hidden;
}

.index-recipe-shuffle-button {
  width: 440px;
  text-align: center;
  margin-left: calc(50% - 220px);
  margin-top: -47px;
  position: absolute;
  z-index: 600;
}

.index-recipe-shopping-button {
  width: 440px;
  text-align: center;
  margin-left: calc(50% - 220px);
  top: 2px;
  position: absolute;
  z-index: 600;
}


.index-all-recipe-outer {
  display: flex;

}

.index-recipe-name-board {
  text-align: center;
  width: 70vw;
  margin-left:15vw;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.93);
  overflow: hidden;
  height: 46px;
  border: 2px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#dynamic-recipe-name {
  display: none;
  margin-bottom: 20px;
}





.alt-recipe-card-flexbox-container {
  display:flex;
}



.open {
  transition: all 0.5s ease;
  // height: $footer-height;
  // height: $recipe-card-height;
  height: calc(#{$recipe-card-height} + #{$footer-height});
  opacity: 1 !important;
  bottom: 0;
}

.recipes-flexbox {
  display: flex;
}

.dish-image-wrapper {
  height: 85vh;
  flex-grow: 1;
  width: 100vw;
  &:last-child {
    .dish-image {
      box-shadow: none;
    }
  }
}

.recipe-card {
  max-height: 100vh;
}

.dish-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  box-shadow: inset -5px 0 0 rgba(255,255,255,1);
}

#goToShoppingListButton {
  display: none;
}

