.recipes-flexbox {
  display: flex;
}

.dish-image-wrapper {
  height: 85vh;
  flex-grow: 1;
  width: 100vw;
  padding-right: 5px;
}

.recipe-card {
  max-height: 100vh;
}

.dish-image {
  background-position: center;
  background-size: cover;
  height: 100%;
}
