<div class="recipes-flexbox">
  <% @seven_recipes.each do |recipe| %>
    <%= render "recipes/info_card", recipe: recipe %>
  <% end %>
</div>



<div class="recipe-detail-block-outer"><!-- setting total size of card -->
  <div class="recipe-detail-block-inner"><!-- flexbox -->
    <div class="recipe-detail-photo-box"> <!-- left flexbox item -->
      <img src="https://via.placeholder.com/240" alt="">
    </div>
    <div class="recipe-detail-info-box"><!-- right flexbox item and flexbox itself -->
      <div class="recipe-detail-info-name">
       <h4>Recipe Name</h4>
      </div>
      <div class="recipe-detail-info-specs">
        <!-- <div class="recipe-detail-info-warnings"></div> for future information -->
        <div class="recipe-detail-info-ingredients"><!-- flexbox 'flow' to create columns for ingredients if needed -->
<!--           <ul>
 -->            <div class="recipe-detail-ingredient-item">one</div>
            <div class="recipe-detail-ingredient-item">two </div>
            <div class="recipe-detail-ingredient-item"> three</div>
            <div class="recipe-detail-ingredient-item">four</div>
            <div class="recipe-detail-ingredient-item">five</div>
            <div class="recipe-detail-ingredient-item"> siv</div>
            <div class="recipe-detail-ingredient-item">seven</div>
            <div class="recipe-detail-ingredient-item">one</div>
            <div class="recipe-detail-ingredient-item">two </div>
            <div class="recipe-detail-ingredient-item"> three</div>
            <div class="recipe-detail-ingredient-item">four</div>
            <div class="recipe-detail-ingredient-item">five</div>
            <div class="recipe-detail-ingredient-item"> siv</div>
<!--           </ul>
 -->        </div>
        <div class="recipe-detail-info-time">
            <img src="https://via.placeholder.com/150" alt="">
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Info card that pops up when hovering -->
<!-- <div class="info-card">
  <%#= image_tag recipe.photo_link, alt: "Photo of #{recipe.name}", class: "dish-image recipe-card" %>
    <%#= link_to "#{recipe.name}", recipe_path(recipe), class: "recipe-name" %>
  <img src="https://spoonacular.com/recipeImages/567516-556x370.jpg" alt="Image placeholder" class="info-card-img">

  <div class="info-content-recipe-name">
    <h4>(Recipe Name)</h4>
    <p>food logos here??</p>
  </div>

  <div class="info-content-ingredient-list">
    <h5>Ingredients:</h5>
    <ul>
      <li>Ingredient1</li>
      <li>Ingredient2</li>
      <li>Ingredient3</li>
      <li>Ingredient4</li>
      <li>Ingredient5</li>
    </ul>
  </div>

  <div class="info-content-time">
    <h5>Prep Time:</h5>
    <p>X mins</p>
  </div>

</div>
 -->
