<div class="recipes-flexbox">
  <% @seven_recipes.each do |recipe| %>
    <%= render "recipes/info_card", recipe: recipe %>
  <% end %>
</div>

<!-- Info card that pops up when hovering -->
<div class="info-card slideup">
  <%#= image_tag recipe.photo_link, alt: "Photo of #{recipe.name}", class: "dish-image recipe-card" %>
    <%#= link_to "#{recipe.name}", recipe_path(recipe), class: "recipe-name" %>
  <img src="https://spoonacular.com/recipeImages/567516-556x370.jpg" alt="Image placeholder" class="info-card-img">

  <div class="info-content-recipe-name">
    <h4>(Recipe Name)</h4>
    <p></p>
  </div>

  <div class="info-content-ingredient-list">
    <h5>Ingredients:</h5>
    <ul>
      <li>Ingredient1</li>
      <li>Ingredient2</li>
      <li>Ingredient3</li>
      <li>Ingredient4</li>
      <li>Ingredient5</li>
    </ul>
  </div>

  <div class="info-content-time">
    <h5>Prep Time:</h5>
    <p>X mins</p>
  </div>

</div>
