<div class="recipes-flexbox">
  <% @seven_recipes.each do |recipe| %>
  <div class="dish-image-wrapper">

    <%= link_to recipe do -%>
      <div class="dish-image" style="background-image:url(<%= image_path recipe.photo_link %>);"></div>
      <%#= image_tag recipe.photo_link, alt: "Photo of recipe #{recipe.name}", class: "dish-image recipe-card" %>
    <% end %>
  </div>
            <!-- ADD "=" to line below to display recipe name + link -->
      <% link_to "#{recipe.name}", recipe_path(recipe), class: "recipe-name" %>
  <% end %>
</div>
