html {
  background-color: #007d82;
}
body {
  padding-top: 49px;
}



h1 {
  transition: ease 300ms all;
  font-size: $font-size-base + 35;
}
h2 {
  transition: ease 300ms all;
  font-size: $font-size-base + 27;
}
h3 {
  transition: ease 300ms all;
  font-size: $font-size-base + 19;
}
h4 {
  transition: ease 300ms all;
  font-size: $font-size-base + 11;
}
h5 {
  transition: ease 300ms all;
  font-size: $font-size-base + 3;
}
h6 {
  transition: ease 300ms all;
  font-size: $font-size-base;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 0 calc(1px * 1.2) 0 rgba(255, 255, 255, 1),
               0 calc(-1px * 1.2) 0 rgba(0, 0, 0, 1);
  color: #566575 !important;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
}

h1, h2, h3, h4, h5, h6, p, li, td, span, input, button, a, tr, div, i {
  transition: ease 300ms all;
}
img {
  transition: 600ms eas all;
}

a {
  font-weight: bold;
  outline: none !important;
  button {
    outline: none !important;
  }
}


a:hover {
  text-decoration: none;

}

p {
  transition: ease 300ms all;
  line-height: 1.7em;
  letter-spacing: -0.02em;
  text-align: justify !important;
}

.add-brand-corners {
  border-bottom-right-radius: 8px 50%;
  border-bottom-left-radius: 8px 50%;
  border-top-right-radius: 8px 50%;
  border-top-left-radius: 8px 50%;
}


.navbar-brand {
  padding: 0 0 0 30px;

}
