<div class="footer-outer">
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="footer-left-column-outer">
        <div class="footer-left-column-inner footer-cell">
          social media.....
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="footer-middle-column-outer">
        <div class="footer middle-column-inner footer-cell">
          <ul class="footer-middle-column-list">
            <li>lorem ipsum.....</li>
            <li><a href="">about</a></li>
            <li><a href="">terms of use</a></li>
            <li>Copyright © BMB Ventures <%= Time.now.year %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="footer-right-column-outer">
        <div class="footer-right-column-inner footer-cell">
          Three
        </div>
      </div>
    </div>
  </div>
</div>
