<span>MOBILE</span>
<div class="navbar-right">
  <ul class="nav navbar-nav navbar-right">
    <li class=""><%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "navbar-reclaim_dinner-item navbar-reclaim_dinner-link" %></li>
    <li class=""><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-reclaim_dinner-item navbar-reclaim_dinner-link" %></li>
  </ul>
</div>
