<h1>DESIGN</h1>
<hr>
<p><h3>Design Manifesto:</h3>The design will be moderatly ornate with a clean body font and more decorative heading font. The goal is to be hip but not exciting and balanced between old-school and modern. The people who will be centrally targeted for this app are modern enough to be career minded and traditional enough to recognize that dinner as a family is still a priority.</p>
<hr>
<p><h3>Demographic Targets</h3>
  <ul>
    <li>Core living status: couples living together: married & unmarried, children or not</li>
    <li>Family Size: All</li>
    <li>Family Organisation: Both adults working</li>
    <li>Emloyment: Full time professional</li>
    <li>Occupation: All</li>
    <li>Income Strata: Middle-class</li>
    <li>Core gender: Both women and men</li>
    <li>Core age: 25 - 45</li>
  </ul>
</p>
<hr>
<p><h3>Design Specifications:</h3>
  <ul>
    <li>Headings Font Family: "Jessica-Bold", "cursive"</li>
    <li>Body Font Family: "Raleway", "CenturyGothic", "sans-serif"</li>
    <li>Body Font Size: 17px</li>
    <li>Base Font Color: #333333</li>
    <br>
    <li>Desktop Navbar: Full width and fixed</li>
    <li>Mobile Navbar: Full width and fixed</li>
    <br>
    <li>Desktop Footer: Full width color, margined content inside container</li>
    <li>Mobile Navbar: Full width</li>
    <br>
    <li>Desktop Recipe Cards: 50% width</li>
    <li>Mobile & Tablet Recipe Cards: 100% width</li>
    <br>
    <li>Buttons: Hover transitions and branded-bowed walls look, no large radius</li>
    <li>Inputs: Active highlighting, and branded-bowed walls look</li>
    <li>Text Links: Bolded and shifted color, no underlining</li>
    <br>
    <li>Generally:<br>
    - no squared corners, no border-radius exceeding 4px<br>
    - subtle gradations on all 'colored' elements<br>
    - more to come...</li>
  </ul>
</p>
<hr>
<h3>Headings</h3>
<h1>H1 (52px)</h1>
<h2>H2 (44px)</h2>
<h3>H3 (36px)</h3>
<h4>H4 (28px)</h4>
<h5>H5 (20px)</h5>
<h6>H6 (body font size)</h6>
<hr>

<p>This is a 'p' tag. <br>This is what the line-height looks like. <br>This is also what the letter spacing looks like. <br>This is what a <a href="#">text link looks like</a>.</p>
<hr>
<button class="btn btn-primary">Primary</button><br>
<button class="btn btn-success">Success</button><br>
<button class="btn btn-info">Info</button><br>
<button class="btn btn-warning">Warning</button><br>
<button class="btn btn-danger">Danger</button><br>


<br><br><br><br><br>
