<%= render "shared/homepage_navbar" %>
<div id="hero-banner" class="hero-banner hero-banner-background-mask hero-banner-background-image-five">
  <div class="hero-element-box">
    <div class="logo-image"><%= image_tag "site/logo/reclaim_dinner_logo_color_with_color_outline_thinner_269x225.png" %></div>
    <div class="site-name"><h1>Reclaim Dinner</h1></div>
    <div class="site-slogan"><h4>Making your dinner planning easier and faster</h4></div>
    <%= link_to "Start Planning Your Dinners Now!", recipes_path, class: "btn btn-primary rd-button btn-lg" %>
  </div>
</div>
<script type="text/javascript">
</script>
