<h1><%= @recipe.name %></h1>
<div class="col-xs-12 col-sm-6 col-md-5">
  <div class="show-dish-photo-outer">
    <div class="show-dish-photo-inner">
      <%= @recipe.photo %>
    </div>
  </div>
  <div class="show-icons-tools-outer">
    <div class="show-icons-tools-inner">
      <!-- icons or tools - gui things -->
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-7">
  <div class="show-dish-details-outer">
    <div class="show-dish-details-inner">
      <!-- preparation and other details -->

    </div>
  </div>
  <div class="show-dish-instructions-outer">
    <div class="show-dish-instructions-inner">
      <!-- Recipe preparation instrucitons -->
    </div>
  </div>
</div>
