
.rd-button {
  min-width: 150px;
  border-bottom-right-radius: 8px 50%;
  border-bottom-left-radius: 8px 50%;
  border-top-right-radius: 8px 50%;
  border-top-left-radius: 8px 50%;
  padding-right: $padding-base-horizontal * 1.5;
  padding-left: $padding-base-horizontal * 1.5;
  margin: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}






