.navbar-to-top {
  z-index: 100;
}
.navbar-rd-item {
  cursor: pointer;
  // padding: 13px 15px;
  padding: 0px 20px;
  &:hover, &:active{
    padding: 0px 20px 5px;
    color: $rd-brand-color-light !important;
  }
}

.navbar-brand {
  font-size: 24px !important;
}

.navbar-rd-link {
  color: $rd-brand-color-light;
  font-size: 24px;
  text-decoration: none;
  position: relative;
}

.navbar-rd-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $rd-brand-color-light;
  margin-right: 30px;
  // border-radius: 2px;
  // box-shadow: 0 0 0 1px rgba(255, 255, 255, 0)
}

.rd-navbar-fixed-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
              0 0 7px rgba(0, 0, 0, 0.15);
  top: 0px;
  position: fixed !important;
  background: white;
  width: 100%;
}


.dropdown-menu {
  overflow: hidden;
  border-top-right-radius: 8px 50%;
  border-top-left-radius: 10px 50%;
  border-bottom-right-radius: 8px 50%;
  border-bottom-left-radius: 10px 50%;
}

.rd-navbar-fixed-top {
  height: 50px;
  padding: 0 !important;
}


// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }

// .signed-in-mobile-navbar {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
// }

// .rd-navbar-search-input {
//   width: 260px !important;
//   position: absolute;
//   margin-left: 8px;
//   margin-top: -19px;
//   border: none;
// }

// .navbar-right.navbar-form {
//   padding-left: 2px;
//   padding: 8px 15px 8px 278px;
// }

// .navbar-default .navbar-nav > li > a {
//   color: #4cafb2;
//   border-radius: 2px;
//   box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
// }
// .navbar-default .navbar-nav > li > a:hover {
//   color: #005154;
//   background-color: rgba(0, 0, 0, 0.05);
//   box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 1),
//               inset 0 1px 3px 0 rgba(0, 0, 0, 0.08),
//               0 0 0 1px rgba(0, 0, 0, 0.01);
//   text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.99);
// }



// .rd-navbar-nav-resize {
// }
// .rd-navbar-search-button {
//   transition: all ease 900ms !important;
//   padding: 8px 15px 8px 278px;
//   font-size: 1.1em;
//   border-bottom-right-radius: 8px 50%;
//   border-bottom-left-radius: 10px 50%;
//   border-top-right-radius: 8px 50%;
//   border-top-left-radius: 10px 50%;
//   background-color: rgba(76, 175, 178, 1);
//   text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);

// }

// .rd-navbar-search-button:hover {
//   background-color: rgba(0, 125, 130, 1);
//   box-shadow: 0 0 0 1px rgba(0, 198, 201, 1);
// }


