  .index-single-recipe-outer {
    position: relative;
  height: calc(100vh - 75px);
  flex-grow: 1;
  width: 100vw;
  overflow: hidden;
  /*outline: red dotted 1px;*/
  }

  .index-single-recipe-focus {
    box-shadow: inset 2px 0 0 rgba(238, 238, 238, 1), inset -2px 0 0 rgba(238, 238, 238, 1), inset 0 0 50px 500px rgba(0, 0, 0, 0.0) !important;
  }

  .index-single-recipe-unfocus {
    box-shadow: inset 2px 0 0 rgba(238, 238, 238, 1), inset -2px 0 0 rgba(238, 238, 238, 1), inset 0 0 50px 500px rgba(0, 0, 0, 0.6) !important;
  }

  .index-single-recipe-day {
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.5)0%, rgba(0, 0, 0, 0)50%, rgba(0, 0, 0, 0.2)100%);
    background-color: rgba(238, 238, 238, 1);
    padding: 6px 0 16px;
    text-align: center;
    box-shadow: inset 2px 0 0 rgba(238, 238, 238, 1), inset -2px 0 0 rgba(238, 238, 238, 1);
  }
  .index-single-recipe-day h6 {
    margin: 0;
  }

  .index-single-recipe-lock-button {
    position: absolute;
    width: 40px;
    margin-left: calc(50% - 20px);
    margin-top: -15px;
    width: 40px;
    background-color: #c9c9c9;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 20px rgba(0, 0, 0, 0.3);
    outline: none !important;
  }

  .index-single-recipe-lock-button:hover {
    background-color: white;
    box-shadow: 0 0 0 2px rgba(0, 96, 99, 0.9), inset 0 0 20px rgba(0, 0, 0, 0.3);
  }
  .lock-button-locked {
    margin-top: 5px;
  }


  .index-single-recipe-recipe-image {
    height: calc(100% - 44px);
    cursor: pointer;
    box-shadow: inset 2px 0 0 rgba(238, 238, 238, 1), inset -2px 0 0 rgba(238, 238, 238, 1), inset 0 0 50px 500px rgba(0, 0, 0, 0.3);
    background-size: cover;
    opacity: 15;
    background-position: center center;

  }

